{% extends "admin/adminBase.twig" %}

{% block content %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#founded').datepicker();
            $('#btn-calendar').click(function(){
                $('#founded').datepicker('show');
            });
            
            $('#expiration').datepicker();
            $('#btn-calendar-a').click(function(){
                $('#expiration').datepicker('show');
            });
            
            $('#chkbox_change_password').click(function() {
                var $this = $(this);

                if ($this.is(':checked')) {
                    $('#password').removeAttr("disabled");
                    $('#password').val('');
                } else {
                    $('#password').attr("disabled","disabled");
                    $('#password').val('');
                }
            });
        });
    </script>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% if mode == 'new' %}
                    {{lang.labelAddBusiness}}
                {% elseif mode == 'view' %}
                    {{lang.labelViewBusiness}}
                {% elseif mode == 'edit' %}
                    {{lang.labelEditBusiness}}
                {% endif %}                    
            </h1>
        </div>
    </div>
             
    <div class="row">
        <div class="col-lg-12">
            {% include "admin/alerts.twig" %}
            <form role="form" method="post" action="{{ROOT_URL}}/admin/business/add" enctype="multipart/form-data">
                <div class="form-group">
                    <label>{{lang.formBusinessAvatar}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <input type="file" name="file">
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessName}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <input class="form-control" name="name" value="{{formValues.name}}">
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessEmail}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <input class="form-control" name="email" value="{{formValues.email}}">
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessPassword}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <input class="form-control" name="password" value="{{formValues.password}}">
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessAbout}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <textarea class="form-control" rows="3" name="about">{{formValues.about}}</textarea>
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessFounded}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <div class="input-group">
                        <input class="form-control" id="founded" name="founded" value="{{formValues.founded}}" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                        <span class="input-group-btn">
                            <button id="btn-calendar" class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessExpiration}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <div class="input-group">
                        <input class="form-control" id="expiration" name="expiration" value="{{formValues.expiration}}" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                        <span class="input-group-btn">
                            <button id="btn-calendar-a" class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{lang.formMaxDevices}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <input class="form-control" name="max_devices_count" value="{{formValues.max_devices_count}}">
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessCountry}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <select class="form-control" name="country">
                        {% for country in countriesList %}
                            <option value="{{country._id}}" {% if formValues.country == country._id %}selected{% endif %}>{{country.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessCategory}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <select class="form-control" name="id_category">
                        {% for category in categoryList %}
                            <option value="{{category._id}}" {% if formValues.id_category == category._id %}selected{% endif %}>{{category.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>{{lang.formBusinessPlan}}</label><span class="text-danger">{{lang.noteRequired}}</span>
                    <select class="form-control" name="plan">
                        {% for plan in planList %}
                            <option value="{{plan._id}}" {% if formValues.plan == plan._id %}selected{% endif %}>{{plan.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">{{lang.btnSave}}</button>
            </form>
        </div>
    </div>
{% endblock %}
